/node_modules
/public/hot
/public/storage
/public_html
/public/docs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
/.htpasswd
/awstats
/logs
/private_html
/public_ftp
/stats
/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
